 body, h1,h3, h4, p, a {
    margin: 0;
    padding:0;
    font-family: Arial, sans-serif;
   color: #000000;
} 
  
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #857c7c;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    text-align: center;
    
}

  

.typing-effect {
    width: fit-content;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #000;
    font-size: 32px;
    animation: typing 3s steps(30, end), blink .75s step-end infinite;
    color: #f9f9f9;
  }
  .fade-in-title {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 1s ease-out forwards;
  }
  
  @keyframes fadeInDown {
    to {
      opacity: 2;
      transform: translateY(0);
    }
  }
  
  
  @keyframes typing {
    from { width: 10 }
    to { width: 100% }
  }
  
  @keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: black }
  }
  
   .projects-card:hover{
   transform: scale(1.1);
   } 
   .projects-card:hover .projects-image {
    opacity: 0.8;
  
  
}
.projects-image :hover{
  color: #c8c7cc;
}

header .moh a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease;
    padding: 10px;
}
  
.moh a:hover {
    color: #0c4d8f;
}
  
body {
    padding-top: 60px;
    text-align: center;
}
  
.main {
    padding: 50px;
    background-color: #f09000;
   
}
  
.main div {
    max-width: 500px;
    margin-bottom: 20px;
  }
  
h2 {
    font-size: 22px;
    
    color: #000;
}
 
  
.projects-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(25% - 20px); /* 4 صور جنب بعض */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #857c7c;
    height: 300px;
}
.project .content{
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
  
.projects-image img, .projects-image video {
    width: 100%;
    height: 170px;
    display: block;
    object-fit: cover;
    border-radius: 4px;
   
}
.read{
    background-color: #f09000;
    padding: 40px;
}

  

.social{
  background-color: #f09000;
  padding: 20px;
}
.info h3{
    color: #887880;
}
.info p{
    color: #037a0d;
}
.projects-image video{
    width: 100%;
    height: 150px;
    display: block;
    object-fit: cover;
    border-radius: 4px;
}
.projects-info {
    text-align: center;
    padding-top: 10px;
}
  
.projects-category {
    font-size: 14px;
    color: #777;
}
  
.projects-titele a {
    color: #333;
    text-decoration: none;
}
  
.projects-titele a:hover {
    color: #020508;
}
  
@media screen and (max-width: 768px) {
    .projects-card {
      width: calc(50% - 20px); /* صورتين جنب بعض */
    }
}
  
  @media screen and (max-width: 480px) {
    .projects-card {
      width: 100%; /* صورة واحدة في السطر */
    }
}
  
  /* التعديل للمقطع الأخير (الصور الصغيرة التي تدور) */
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    background-color: #f09000;
}
.projects{
    padding-top: 40px;
    background-color: #f09000;
}
  .project{
    padding-top: 40px;
    background-color: #f09000;
  }
.S {
    width: 5%;
    
    object-fit: cover;
    border-radius: 8px;
    animation: rotate 5s infinite linear;
    border-radius: 40px;
}
  
@keyframes rotate {
    30% {
      transform: rotate(0deg);
}
    100% {
      transform: rotate(360deg);
}
}
  
.whatsapp-button {
  background-color: #048031;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.whatsapp-button:hover {
  background-color: #01ff66;
}
